.page {
  background: #F6F7FA;
}

.flex__wrapper {
  position: relative;
}

.focus {
  .padding {
    padding-bottom: 10%;
  }
}

.padding {
  height: 0;
  width: 100%;
  padding-bottom: 100vh;
  transition: padding-bottom .6s ease-in-out;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

.header {
  max-height: 999px;
  height: 100%;
  transition: max-height .6s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__img {
  width: 100%;
  filter: drop-shadow(125px 250px 250px rgba(26, 58, 70, 0.7));
}

.focus .header__img {
  filter: blur(5px);
}

.search__wrapper {
  position: absolute;
  display: flex;
  width: 60%;
  top: 50%;
  left: 20vw;
  transform: translateY(-24px);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, .4);
  transition: top .6s ease;
  z-index: 99;

  &.focus {
    top: 76px;
  }
}

.search {
  height: 48px;
  display: flex;
  width: 100%;
  z-index: 9;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  font-size: 24px;
  overflow: hidden;
  text-align: center;
  outline: 1px solid #4080ff;
}

.input {
  height: 100%;
  flex-grow: 1;
}

.input_el {
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  text-align: left;
  caret-color: #4080ff;
  padding-left: 2px;
}

.button {
  opacity: .8;
  background-color: #4080ff;
  color: #FFF;
  flex-basis: 128px;
  height: 100%;
  line-height: 48px;
  cursor: pointer;
  text-decoration: none;
}

.recommends {
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height .6s ease;
  position: absolute;
  top: 48px;
  width: 100%;

  &.show {
    max-height: 999px;
  }
}

.search-common {
  background: rgba(255, 255, 255, .9);
  z-index: 9;
}

.query {
  font-size: 20px;
  line-height: 32px;
  padding: 8px 16px;
  color: #000;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.right {
  width: 40%;
  position: absolute;
  top: 120px;
  right: 0;
  border-left: 1px solid #666;
}

.result__wrapper {
  width: 60%;
  padding-top: 20px;
  margin-top: 56px;
  margin-left: 60px;
}

.result {
  padding: 20px;
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
}

.link {
  cursor: pointer;
  margin-left: 12px;
  line-height: 24px;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.category {
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  color: #4080ff;
  border: 1px solid #4080ff;
  padding: 4px 8px;
  margin-right: 12px;
  left: 0;
  top: 0;
}

.detail {
  margin-top: 12px;
  font-size: 14px;
  line-height: 26px;
}

mark {
  background: transparent;
  color: #4080ff;
}

.time {
  color: #666;
  margin-top: 8px;
}

.service {
  line-height: 22px;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 6px;
  color: #FFF;
  background-color: #4080ff;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.im-service {
  position: fixed;
  right: 24px;
  bottom: 40px;
  padding: 8px 13px;
  z-index: 99;
  font-size: 20px;
  font-weight: bold;
}

.more__setting {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(#000000, .6);
  text-align: center;
  opacity: 0;

  &.show {
    opacity: 1;
    z-index: 199;
  }
}

.setting {
  border-radius: 12px;
  background-color: #FFF;
  padding: 20px;
  margin: 20% 64px;
  display: inline-block;

  .button {
    border-radius: 8px;
    font-size: 20px;
  }
}

.setting__header {
  font-size: 24px;
}

.setting__form {
  padding: 16px;
}

.setting__item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.setting__labal {
  text-align: right;
  width: 170px;
  margin-right: 8px;
}

.setting__value {
  width: 280px;
  border: 1px solid #222;
  padding: 4px;
  border-radius: 4px;
}